<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <div class="titulo-perguntas">
            <hr>
            <h1> Portal Vida Mansa</h1>
            <hr>
        </div>
            <br>
            <div class="card">
                <div class="card-body" style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Soma entre duas Matrizes</h3>
                    <a href="/somarMatrizes" class="btn btn-primary">Perguntar</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body" style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Produto entre um escalar e uma matriz</h3>
                    <a href="" class="btn btn-primary">Perguntar</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body" style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Produto entre duas matrizes</h3>
                    <a href="" class="btn btn-primary">Perguntar</a>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body" style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Solução de um sistema linear</h3>
                    <a href="" class="btn btn-primary">Perguntar</a>
                </div>
            </div>
            </div>
    </div>
    
</body>
<%- include('partials/footer') %>